/*    */
body {
    background: black;
}

.container{
    border-radius: 5px;
    padding: 20px;
}

.jumbotron {
    background: url(../images/splash_bg.jpg) center no-repeat;
    height: 300px;
    background-size: cover;
    margin-bottom: 0px;
}

.heading {
	color: white;
	text-align: center;
	letter-spacing: 10px;
    margin-top: 45px;
	font-family: 'Lora', sans-serif;
}

.cloudBlack {
    background-color: black;
}
#weather-img{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8%;
    padding-bottom: 2%;
}

/* Top right corner search button  */
.btn-outline-success{
    color: #ffffff;
    border-color: black;
    border-radius: 50px;
}


.btn-outline-success:active{
    background-color: #000000;
}

.card{
    background-color: black;
    text-align: center;
    padding:0px;
    color: white;
    
}

.clothing-div {
    max-width: 350px;
}

#outside-img {
    width: 550px;
   
}

.btn-outline-success:hover{
    color: rgb(0, 174, 255);
    border-color: rgb(0, 0, 0);
    background-color: #000000;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
  }
/* Image banner style */

.banner{
    position: absolute;
    bottom: -17px;
    margin-left: -20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    width: 100%; 
    text-align: center;
    color: white;
    height: 50px;
}

/* Footer style  */
.footer{
    width: 100%;
    /* height: 80px;
    color: white;
    text-align: center; */
    /* margin-top: 100px;
    background-color: rgb(20, 20, 20); */
}

.footer p{
    margin-bottom: 0px;
    color: #ffffff;
    background-color: rgb(7, 7, 7);
    box-shadow: 0px -2px 8px #35353580;
    height: 64px;
}

/* button animation */
.c--anim-btn span {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  
  .c--anim-btn, .c-anim-btn {
    transition: 0.3s;     
  }
  
  .c--anim-btn {
    height: 64px;
    font: normal normal 700 1em/4em Arial,sans-serif;
    overflow: hidden;
    width: 200px;
    background-color: transparent;
  }
  
  .c-anim-btn{
    margin-top: 0em;   
  }
  
  .c--anim-btn:hover .c-anim-btn{
    margin-top: -4em;
  }

  .clothing-image{
      width: 33%;
      height:
  }