body {
    background: black;
}

.jumbotron {
    background: url(../images/splash_bg.jpg) center no-repeat;
    height: 300px;
    background-size: cover;
    margin-bottom: 0px;

}

#title {
	color: white;
	text-align: center;
	letter-spacing: 10px;
	margin-top: 7%;
	font-family: 'Lora', sans-serif;
}

.btn-outline-success{
    color: #00e6d0;
    border-color: #00e6d0;
    border-radius: 50px;
}
.btn-outline-success:hover{
    color: black;
    border-color: black;
    background-color: #00e6d0;
}

.learnMore{
    height: 50px;
    background-color: black;
    text-align: center;
}

#title{
    color: white;
}

.footer{
    height: 50px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footer p{
    padding-top: 15px;
    color: #00e6d0;
}